.content {
  width: auto;
}

.content__seccion {
  margin: 0 148px;
}

.content__seccion_full_width {
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 780px) {
  .content__seccion {
    margin: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .content__seccion {
    margin: 0 16px;
  }
}
