.content {
  width: auto;
  display: flex;
  flex-direction: column;
}

.content__seccion {
  margin: auto;
  box-sizing: border-box;
}

.content__lead-content-image {
  padding: 0 148px;
}

.content__seccion_full_width {
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .content__seccion {
    padding: 0 24px;
  }

  .content__lead-content-image {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .content__seccion {
    padding: 0 16px;
  }
}
