.lead {
  text-align: center;
}

.lead__title {
  width: 60%;
  max-width: max-content;
  margin: auto;
  color: #ffffff;
  font-size: 96px;
  font-weight: 900;
  line-height: 1;
}

.lead__subtitle {
  width: 70%;
  max-width: max-content;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 55px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
}

.lead__content-image {
  width: 100%;
}

.lead__image {
  width: 100%;
  object-fit: cover;
}

.lead__image_filter_gray {
  filter: grayscale(100%);
}
