.lead {
  text-align: center;
}

.lead__title {
  width: 720px;
  max-width: 100%;
  margin: auto;
  margin-top: 40px;
  color: #ffffff;
  font-size: 96px;
  font-weight: 900;
  line-height: 1;
}

.lead__subtitle {
  width: 720px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 55px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
}

.lead__content-image {
  width: 100%;
}

.lead__image {
  width: 100%;
  object-fit: cover;
}

.lead__image_filter_gray {
  filter: grayscale(100%);
}

/* 780px */

@media screen and (max-width: 780px) {
  .lead__title {
    width: 530px;
    text-align: center;
    font-size: 75px;
    background-color: red;
  }

  .lead__subtitle {
    background-color: blue;
  }
}
