.places {
  display: grid;
  grid-template-columns: minmax(auto, 987px);
  justify-content: center;
}

.places__item {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto 460px auto;
  grid-template-areas:
    "title author"
    "image descripcion"
    "button descripcion";
  gap: 40px 48px;
}

.places__area-description {
  grid-area: descripcion;
}

.places__title {
  color: #fff;
  font-size: 77px;
  font-weight: 900;
  line-height: 1;
}

.places__label-author {
  color: #aaaaaa;
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 1.8;
}

.places__author-name {
  color: #fff;
  font-size: 18px;
}

.places__texts {
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
}

.places__text {
  margin-bottom: 25px;
}
