.places {
  background-color: red;
  display: grid;
  grid-template-columns: minmax(auto, 987px);
  justify-content: center;
}

.places__item {
  background-color: blue;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto 460px auto;
  grid-template-areas:
    "title author"
    "image descripcion"
    "button descripcion";
  gap: 40px 48px;
}

.places__area-description {
  grid-area: descripcion;
}
